<div class="news-actions">
  <button type="button" mat-button [disabled]="disabled" (click)="onEdit()">
    Editar
  </button>

  @if (!isPublished) {
    <button type="button" mat-flat-button [disabled]="disabled" (click)="onPublish()">
      Publicar
    </button>
  } @else {
    <button type="button" mat-stroked-button [disabled]="disabled" (click)="onUnpublish()">
      Despublicar
    </button>
  }

  <button
    type="button"
    mat-stroked-button
    class="news-actions__button--danger"
    [disabled]="disabled"
    (click)="onRemove()"
  >
    Remover
  </button>
</div>
