@use './styles/lego-tokens';

html {
  height: 100%;
}

html.theme-light {
  color-scheme: light;
}

body {
  color-scheme: light;
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  margin: 0;
  height: 100%;
}

html,
body {
  min-height: 100%;
}
